.container {
  background-image: url("../../public/img/HeroImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.cardSection {
  width: 100%;
  padding: 100px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #d8e4e9;
  display: flex;
  gap: 50px;
}
