.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../public/img/HeroImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}
