.ehniiOdor {
  height: 112px;
  width: 513px;
  border-radius: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  transition: 0.3s ease;
}

.ehniiOdor :hover {
  border: 5px white;
  color: red;
}

.ehniiOdor h1 {
  margin: 0px;
  font-size: 24px;
  line-height: 100%;
  font-weight: 500;
  transition: 0.3s ease;
}

.dayiinBaruunTaliinBackground {
  height: 52px;
  width: 52px;
  border-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(247, 246, 243, 1);
  margin-right: 24px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s ease;
}

.pin {
  height: 14px;
  width: 14px;
}

.locationDiv {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

@media (max-width: 600px) {
  .ehniiOdor {
    height: 66px;
    width: 257px;
    border-radius: 38px;
    transition: 0.3s ease;
  }

  .ehniiOdor h1 {
    font-size: 18px;
    transition: 0.3s ease;
  }

  .pin {
    height: 10px;
    width: 10px;
  }

  .dayiinBaruunTaliinBackground {
    height: 36px;
    width: 36px;
    font-size: 7px;
  }

  .locationDiv {
    gap: 5px;
    padding-top: 10px;
  }

  .locationDiv p {
    padding: 0px;
    margin: 0px;
  }
}
