.ehniiOdor {
  height: 112px;
  width: 513px;
  border-radius: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}

.ehniiOdor h1 {
  margin: 0px;
  font-size: 24px;
  line-height: 100%;
  font-weight: 500;
}

.dayiinBaruunTaliinBackground {
  height: 52px;
  width: 52px;
  border-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(247, 246, 243, 1);
  margin-right: 24px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.pin {
  height: 14px;
  width: 14px;
}

.locationDiv {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
