.footer {
  height: 204px;
  background-color: rgba(159, 198, 222, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  gap: 30px;
}

.icon {
  height: 22px;
  width: 22px;
}

.ficon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  height: 20px;
  gap: 10px;
  border: none;
  border-radius: 40px;
  color: #6972b5;
}

.ficon p {
  font-weight: 700;
}

.bottomLogo {
  height: 34px;
  width: 100px;
}

.division {
  display: flex;
  gap: 20px;
}

ul {
  list-style-type: none;
}

.checkDiv {
  display: flex;
  align-items: center;
  gap: 20px;
}
