.gradient {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background-image: url("../../public/img/footerDeed.png");
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease;
}

.gradient h1 {
  font-size: 42px;
  margin-top: 40px;
  margin-bottom: 0;
  transition: 0.3s ease;
}

.gradient p {
  color: rgba(24, 24, 27, 0.7);
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.pricingContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  transition: 0.3s ease;
}

.pricingCard {
  width: 310px;
  background: white;
  padding: 30px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.pricingHeader {
  display: flex;
  align-items: center;
  gap: 30px;
  transition: 0.3s ease;
}

.popularTag {
  background: #6972b5;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.price {
  font-size: 48px;
  margin: 0;
  transition: 0.3s ease;
}

.subtitle {
  color: rgba(24, 24, 27, 0.7);
  margin: 0;
  padding: 0px;
  transition: 0.3s ease;
}

.subtitle {
  margin: 0px;
  transition: 0.3s ease;
}

.features h4 {
  margin-bottom: 8px;
  transition: 0.3s ease;
}

.features ul {
  padding: 0;
  margin: 0;
  transition: 0.3s ease;
}

.features li {
  list-style-type: none;
  margin-bottom: 8px;
  transition: 0.3s ease;
}

.selectBtn {
  margin-top: 20px;
  padding: 14px;
  background-color: #c9e6f0;
  border: none;
  width: 100%;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

.price {
  margin-top: 0px;
  transition: 0.3s ease;
}

@media (max-width: 600px) {
  .gradient {
    height: auto;
  }

  .gradient h1 {
    font-size: 35px;
  }

  .pricingCard {
    width: 250px;
    transition: 0.3s ease;
  }

  .pricingContainer {
    margin-bottom: 0;
    transition: 0.3s ease;
  }
}

@media (max-width: 254px) {
  .pricingContainer {
    padding-bottom: 0px;
  }
}
