.gadna {
  height: 370px;
  width: 275.49px;
  background-color: rgba(131, 175, 204);
  border-radius: 40px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.dund {
  height: 370px;
  width: 275.49px;
  border-radius: 40px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: rgba(172, 200, 210);
}

.parts {
  height: 370px;
  width: 275.49px;
  object-fit: cover;
  border-radius: 40px;
  padding-right: 20px;
  font-size: 28px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#terkhiinTsagaanNuur {
  background-image: url(//img/sec2Location1.png);
  background-size: cover;
  height: 370px;
  width: 275px;
}

#hiid {
  background-image: url(//img/sec2Location2.png);
  background-size: cover;
  height: 370px;
  width: 275px;
}

#khuvsgul {
  background-image: url(//img/sec2Location3.png);
  background-size: cover;
  height: 370px;
}

#khorgiinTogoo {
  background-image: url(//img/sec2Location4.png);
  background-size: cover;
  height: 370px;
}

.parts p {
  height: 370px;
  width: 275.49px;
  border-radius: 40px;
  font-size: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.gradient {
  background: linear-gradient(
    180deg,
    #d7e4eb 0%,
    #d8e4e9 35%,
    #a4cde2 70%,
    rgba(159, 198, 222, 1) 100%
  );
  width: 100%;
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
}

.gradientTitle {
  font-size: 42px;
  font-weight: 600;
  margin: 0px;
}

.gradientP {
  font-size: 20px;
  font-weight: 500;
  color: rgba(24, 24, 27, 0.7);
}

.pricing {
  display: flex;
  gap: 20px;
  margin-top: 60px;
  padding-bottom: 150px;
}

.budget {
  height: 527px;
  width: 384px;
  background-color: rgba(250, 251, 252, 1);
  border-radius: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 40px;
}

.standard {
  height: 527px;
  width: 384px;
  background-color: rgba(250, 251, 252, 1);
  border-radius: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 40px;
}

.luxury {
  height: 527px;
  width: 384px;
  background-color: rgba(250, 251, 252, 1);
  border-radius: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 40px;
}

.heart {
  height: 40px;
  width: 40px;
}

.packageTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.packageTitle p {
  font-size: 18px;
}

.dollar {
  font-size: 40px;
  font-weight: 600;
}

.desc {
  color: rgba(145, 145, 145);
}

.popularDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
  margin-bottom: 20px;
}

.popularButton {
  border: none;
  border-radius: 15px;
  height: 30px;
  width: 90px;
  background-color: rgba(105, 114, 181);
  color: white;
}

.check {
  height: 10px;
  width: 10px;
}

.pbutton {
  height: 48px;
  width: 336px;
  border: none;
  border-radius: 24px;
  color: black;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;

  background-color: rgba(164, 209, 226, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
