.nav {
  max-width: 1200px;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: "Inter", sans-serif;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  cursor: pointer;
}

.mainLogo {
  height: 34px;
  width: 100px;
}

.navbar {
  display: flex;
  font-size: 24px;
  gap: 70px;
}

.navbar p {
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.language {
  text-align: center;
  margin-right: 50px;
}

.profile {
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: whitesmoke;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
