.text {
  width: 100%;
  height: 100vh;
  background-image: url("../../public/img/HeroImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  line-height: 10px;
  transition: 0.3s ease;
}

.budeg {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 80px;
  opacity: 60%;
  transition: 0.3s ease;
}

.tod {
  font-weight: 400;
  font-size: 220px;
  margin: 60px;
  padding: 20px;
  padding-right: 0px;
  margin-right: 0px;
  transition: 0.3s ease;
}

.todJijig {
  font-weight: 800;
  font-size: 80px;
  transition: 0.3s ease;
}

@media (max-width: 800px) {
  .budeg {
    font-size: 65px;
  }

  .tod {
    font-size: 120px;
    transition: 0.3s ease;
    padding-right: 0px;
    margin-right: 0px;
  }

  .todJijig {
    font-size: 65px;
    font-weight: 650;
  }
}

@media (max-width: 600px) {
  .budeg {
    font-size: 50px;
    transition: 0.3s ease;
  }

  .tod {
    font-size: 110px;
    transition: 0.3s ease;
    padding-right: 0px;
    margin-right: 0px;
  }

  .todJijig {
    font-size: 50px;
    transition: 0.3s ease;
  }
}
