.mapContainer {
  background-image: url("../../public/img/roadImage.png");
  background-size: 100%;
  height: 1022px;
  width: 100wv;
  margin: 0px;
  padding: 0px;
}

.mapTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 18px;
}

.mapTitle h1 {
  font-size: 42px;
  margin: 0px;
}

.mapTitle p {
  margin: 0px;
  font-size: 20px;
  color: rgba(24, 24, 27, 0.7);
}
