.locations {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  gap: 20px;
  width: 100%;
}

.mapW {
  max-width: 1200px;
  margin: 0 auto;
}

.mapContainer {
  background-image: url("../../public/img/roadImage.png");
  background-size: 100%;
  height: 1022px;
  width: 100%;
  margin: 0px;
  padding: 0px;

  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: visible;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  margin-bottom: -100px;
}
.mapTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 18px;
}

.mapTitle h1 {
  font-size: 42px;
  margin: 0px;
  margin-top: 60px;
}

.mapTitle p {
  margin: 0px;
  font-size: 20px;
  color: rgba(24, 24, 27, 0.7);
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .mapTitle h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
  }
}
