.cardSection {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cardSectionContainer {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  background-image: url("../../public/img/locationBackground.png");
  background-color: aqua;
}

@media (max-width: 800px) {
  .cardSection {
    flex-direction: column;
  }

  .cardSectionContainer {
    height: 1700px;
  }
}
